//Var

//Colors
$background: #f5f6f7;
$maincolorDarker: #16a085;
$maincolor: #1abc9c;
$black: #000000;
$white: #ffffff;
$grey: #373737;

//Fonts
$mainfont: "Raleway", "sans serif";

//Global Style
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background;
  font-size: 16px;
  font-family: $mainfont;
  line-height: 1.7;
  color: $grey;
}

.container {
  position: relative;
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 96px 0;
}

.section-title {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $maincolor;
}

.section-text {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 22px;
}

.btn {
  display: inline-block;
  width: 192px;
  height: 51px;
  background-color: $maincolorDarker;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 20px;
  color: $white;
  font-weight: bold;
}

// hero
.hero {
  height: 100vh;
  background-image: url(../images/hero.jpg);
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
  position: relative;
  .call-to-action {
    position: absolute;
    top: 30vh;
    height: 30vh;
    width: 60vw;
    h1,
    p {
      color: $white;
      text-align: center;
    }
    h1 {
      text-transform: uppercase;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 5.4px;
    }
    .btn {
      text-transform: uppercase;
    }
  }
}
