//Var

//Colors
$background: #f5f6f7;
$maincolorDarker: #16a085;
$maincolor: #1abc9c;
$black: #000000;
$white: #ffffff;
$grey: #373737;

//Fonts
$mainfont: "Raleway", "sans serif";

//Global Style
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background;
  font-size: 16px;
  font-family: $mainfont;
  line-height: 1.7;
  color: $grey;
}

.container {
  position: relative;
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 96px 0;
}

.section-title {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $maincolor;
}

.section-text {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 22px;
}

.btn {
  display: inline-block;
  position: relative;
  width: 192px;
  height: 51px;
  background-color: $maincolorDarker;
  border: none;
  border-radius: 3px;
  text-align: center;
  a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 192px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 20px;
    color: $white;
    font-weight: bold;
  }
}

//Started

.started {
  .row {
    display: flex;
    .text {
      flex: 0 0 50%;
      .section-text {
        margin: 40px 0 50px 0;
        span {
          font-weight: 800;
        }
      }
    }
    .image {
      flex: 0 0 50%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

//Design
.design {
  background-color: $white;
  .row {
    display: flex;
    justify-content: space-between;
    .text {
      flex: 0 0 35%;
      .section-text {
        margin: 40px 0 50px 0;
        span {
          font-weight: 800;
        }
      }
    }
    .image {
      flex: 0 0 45%;
      img {
        height: 500px;
      }
    }
  }
}
// Downlnad
.download {
  text-align: center;
  .section-title {
    color: $maincolor;
  }
  .btn1 {
    text-align: none;
    background-color: $maincolor;
    i {
      display: inline-block;
      width: 50px;
      height: 51px;
      background-color: $maincolorDarker;
      border: none;
    }
  }
}

//Footer
